<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>

    <!-- Meta-Information -->
   <title>ANGULA</title>
    <meta charset="utf-8">
    <meta name="description" content="Angularjs, html5, web, siteweb">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Vendor: Bootstrap Stylesheets http://getbootstrap.com -->
    
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/bootstrap/bootstrap-theme.min.css"/>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,700,600,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900' rel='stylesheet' type='text/css'>

    

    <!-- Our Website CSS Styles -->
    <link href="../css/animate.css" rel="stylesheet" type="text/css" />
    <link href="../css/slide/component.css" rel="stylesheet" type="text/css" />
    <!-- Mini Slider -->
    <!-- Carouse Testimonial-->
    <link href="../css/owl_carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="../css/owl_carousel/owl.theme.css" rel="stylesheet" type="text/css" />
    <!-- End Carouse Testimonial-->
    <link href="../css/minislide/flexslider.css" rel="stylesheet" type="text/css" />

    <!-- End Mini Slider -->
    <link href="../css/gallery.css" rel="stylesheet" type="text/css" />
    <link href="../css/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />

    <link href="../css/component_black.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../css/main.css"/>
    <link href="../css/responsive.css" rel="stylesheet" type="text/css" />
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
       <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <a class="navbar-brand" href="../index.html"><img src="../images/logo3.jpg" alt="logo" /></a>
        </div>
         <!--Shopping Cart-->

        <div class="content-count-cart-header dropdown">
                    <a href="" title="go to shopping cart" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-shopping-cart"></i>
                        <p class="number-prod-cart">2</p> 
                    </a>
                      <div class="dropdown-menu vertical-li dropdown-prod-cart dropdown-prod-cart-scroll scroll-menu">
                          <ul>
                           <li>
                            <div class="col-md-12 minitotal-prod">
                                 <div class="col-md-6 minicart-img"> 
                                    <img src="../images/store/product/dresses/6.jpg" alt="Big Hoddie"/>
                                 </div>
                                 
                                 <div class="col-md-6 minicart-data"><p class="mc-name">Big Hoddie</p>
                                  <p>1 X $127.00</p>
                                 </div>
                            </div>
                           </li>
                           <li>
                            <div class="col-md-12 minitotal-prod">
                                 <div class="col-md-6 minicart-img"> 
                                    <img src="../images/store/product/2.jpg" alt="Rhon Doe"/>
                                 </div>
                                 
                                 <div class="col-md-6 minicart-data"><p class="mc-name">Rhon Doe</p>
                                  <p>1 X $110.00</p>
                                 </div>
                            </div>
                           </li><!-- end ngRepeat: item in cart.items | orderBy:'name' -->
                          </ul>
                          <div class="separator"></div>
                          <div id="cartInfo"><p class="minucart-price">Subtotal $237.00</p></div>
                          <a href="../shop/shoppingCart.html" id="goToCheckOut">Proceed to purchase</a>
                    </div> 
            </div>
         <!--End Cart-->
        <div class="collapse navbar-collapse navbar-ex1-collapse dropdown-prod-cart-scroll scroll-menu">
        
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Home <b class="caret"></b></a>
                  <ul class="dropdown-menu vertical-li">
                        <li><a href="../index.html">Home 1</a></li>
                        <li><a href="../home2.html">Home 2</a></li>
                        <li><a href="../home3.html">Home 3</a></li>
                        <li><a href="../home4.html">Home 4</a></li>
                        <li><a href="../home5.html">Home 5</a></li>
                  </ul>
                </li>
               <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                  <ul class="dropdown-menu vertical-li">
                        <li><a href="../about.html">About Us Page 1</a></li>
                        <li><a href="../about2.html">About Us Page 2</a></li>
                        <li><a href="../about3.html">About Us Page 3</a></li>
                        <li><a href="../about4.html">About Us Page 4</a></li>
                  </ul>
                </li>
                
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Shop <b class="caret"></b></a>
                  <ul class="dropdown-menu vertical-li">
                        <li><a href="../shop/store.html">Shop Page</a></li>
                        <li><a href="../shop/store_dresses.html">Shop Dresses</a></li>
                        <li><a href="../shop/product.html">Single Prod.</a></li>
                        <li><a href="../shop/product_dresses.html">Single Dresses</a></li>
                        <li><a href="../shop/store_dresses_rc.html">Shop Dresses Right Col.</a></li>
                        <li><a href="../shop/store_dresses_lc.html">Shop Dresses Left Col.</a></li>
                        <li><a href="../shop/shoppingCart.html">Shopping Cart</a></li>
                  </ul>
                </li>

                <li class="dropdown menu-large"><a class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
                      <ul class="menu-items megamenu dropdown-menu">
                        <li class="menu-item col-sm-3">
                            <h3 class="angula-megamenu-title">Page Samples 1</h3>
                            <ul class="mega-sub-menu">
                                <li><i class="fa fa-angle-right"></i><a href="../services.html">Services</a></li>      
                                <li><i class="fa fa-angle-right"></i><a href="../meet_team.html">Meet the Team</a></li>
                                <li><i class="fa fa-angle-right"></i><a href="../faq.html">FAQ</a></li>
                                <li><i class="fa fa-angle-right"></i><a href="../404.html">404</a></li>
                                <li><i class="fa fa-angle-right"></i><a href="../pricing.html">Pricing Table</a></li>
                            </ul>
                        </li>
                        <li class="menu-item col-sm-3">
                            <h3 class="angula-megamenu-title">Page Samples 2</h3>
                            <ul class="mega-sub-menu">
                                <li><i class="fa fa-angle-right"></i><a href="../templates/footer.html">Footer 1 </a></li>
                                <li><i class="fa fa-angle-right"></i><a href="../templates/footer_2.html">Footer 2</a></li>
                                <li><i class="fa fa-angle-right"></i><a href="../templates/footer_3.html">Footer 3</a></li>
                                <li><i class="fa fa-angle-right"></i><a href="../templates/footer_sponsor.html">Footer 4</a></li>
                                <li><i class="fa fa-angle-right"></i><a href="../templates/header_dark.html">Header dark</a></li>
                            </ul>
                        </li>
                        <li class="menu-item col-sm-6 menu-adwertising">
                            <div class="col-md-6">                              
                                <figure class="hero-image hero-imacretina-1"></figure>
                                <figure class="hero-image hero-imacretina-2"></figure>
                                <figure class="hero-image hero-imacretina-3"></figure>
                                <img class="discount" src="../images/discount.png" alt="" />
                            </div>
                            <div class="col-md-6 menu-text-monitor">
                                <p> Start something new.</p>
                                <p><i class="fa fa-angle-right"></i> TV Monitor LED 19" HD</p>
                                <p><i class="fa fa-angle-right"></i> Resolution: 1366x768</p>
                                <p><i class="fa fa-angle-right"></i> Color:	16.7 milion</p>
                            </div>
                        </li>
                      </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                  <ul class="dropdown-menu vertical-li">
                        <li><a href="../blog.html">Blog Prod</a></li>
                        <li><a href="../blog_right.html">Blog Right Sidebar</a></li>
                        <li><a href="../blog_left.html">Blog Left Sidebar</a></li>
                  </ul>
                </li>
                <li><a href="../contact.html">Contact</a>
                </li>
                
            </ul>
            
        </div>
    </div>
</nav>
<div class="container">

    <div class="row">
            <div class="col-lg-12 text-center footer-title-step">
                <h1 class="section-title">our <span>FEATURES</span></h1>
                <p class="sub-title">Excepteur sint occaecat cupidatat non proident sunt<br>in culpa officia deserunt</p>
            </div>
    </div>

    <div class="row">

        <div class="col-md-12 footer3-box">
            <div class="col-md-6">
              <img src="../images/iphone.jpg" alt="" />
            </div>
            <div class="col-md-6">
              <div class="box-content-1 bf-content">
                        <div class="arrow_box_page">
                                <h1><span class=" icon-strategy"></span> Strategy</h1>
                                <p>Fusce risus metus, placerat in <span>consectetur</span> eu, porttitor a est sed sed dolor lorem cras adipiscing</p>
                                <p>A small <span>creative</span> team, trying to enrich the lives of others</p>
                       </div>
                </div>
               <div class="box-content-2 bf-content">
                         <div class="arrow_box_page">
                                <h1><span class=" icon-mobile"></span> Responsive</h1>
                                <p>Fusce risus metus, placerat in <span>consectetur</span> eu, porttitor a est sed sed dolor lorem cras adipiscing</p>
                                <p>A small <span>creative</span> team, trying to enrich the lives of others</p>
                       </div>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- /.container -->


<div class="home3-bt-footer-bg">   
      <div class="well">
            <div class="container">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="col-md-4 testimonial-title-right">
                    <h1 class="section-title">Angula</h1>
                    <h1 class="section-title">PARALLAX</h1>
                    <p class="sub-title">Excepteur sint occaecat cupidatat non proident sunt officia deserunt</p>
                  </div>
                    <div id="testimonials" class="col-md-8">
                        <div id="owl-demo" class="owl-carousel">
                        <div class="item">
                                <div class="testimon-desc">
                                    <p>Fusce risus metus, placerat in <span>consectetur</span> eu, porttitor a est sed sed dolor lorem cras adipiscing</p>
                                    <p>A small <span>creative</span> team, trying to enrich the lives of others</p>
                                    <p class="nm-name">- Brian Rood</p>
                            </div>
                        </div>
                        <div class="item">
                                <div class="testimon-desc">
                                    <p>Fusce risus metus, placerat in <span>consectetur</span> eu, porttitor a est sed sed dolor lorem cras adipiscing</p>
                                    <p>A small <span>creative</span> team, trying to enrich the lives of others</p>
                                    <p class="nm-name">- Miki Rood</p>
                                </div>
                        </div>
                        <div class="item">
                            <div class="testimon-desc">
                                <p>Fusce risus metus, placerat in <span>consectetur</span> eu, porttitor a est sed sed dolor lorem cras adipiscing</p>
                                    <p>A small <span>creative</span> team, trying to enrich the lives of others</p>
                                    <p class="nm-name">- Robert Rood</p>
                            </div>
                        </div>
                        </div>
                    </div>
                 
            </div>
            </div>
            <!-- /.row -->
    </div>
</div>
<footer>
    
    <div class="container top-footer-in twocolor">
        <div class="row">
           <div class="col-lg-3 col-md-3 col-sm-3">
             <div style="width:100%"><a class="logofooter" href="../index.html"><img src="../images/logofooter.png" alt="logo" /></a></div>
             <p>
                Mellentesque habitant morbi tristique senectus et netus et malesuada famesac turpis egestas.
             </p>
             <p><i class="fa fa-phone"></i>Phone : 041-123 965</p>
             <p><i class="fa fa-envelope-o"></i>Email: info@angula.com</p>
           </div>
           <div class="col-lg-3 col-md-3 col-sm-3">
             <h4>Last News</h4>
             <ul class="footer-menu"> 
                 <li><a href="#">AngularJS extend HTML</a></li> 
                 <li><a href="#">AngularJS is a toolset</a></li> 
                 <li><a href="#">Parallax Sections</a></li> 
                 <li><a href="#">Behind the DOM elements</a></li> 
                 <li><a href="#">Data-binding automatic</a></li> 
             </ul>
           </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
             <h4>Useful Links</h4>
             <ul class="footer-menu"> 
                 <li><a href="#">Support</a></li> 
                 <li><a href="#">Privacy policy</a></li> 
                 <li><a href="#">Terms of use</a></li> 
                 <li><a href="#">FAQ</a></li> 
                 <li><a href="#">Help</a></li> 
             </ul>
           </div>
           <div class="col-lg-3 col-md-3 col-sm-3">
             <h4>Tags Cloud</h4>
             <div class="tags"> 
                 <a href="#">Design</a> 
                 <a href="#">User interface</a> 
                 <a href="#">Performance</a> 
                 <a href="#">Development</a> 
                 <a href="#">WordPress</a> 
                 <a href="#">SEO</a> 
                 <a href="#">Joomla</a> 
                 <a href="#">ASP.Net</a> 
                 <a href="#">SharePoint</a> 
                 <a href="#">Bootstrap</a> 
             </div>
           </div>
        </div>
        
    </div>
    <div class="info-footer">
        <div class="container">
            <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                         <div class="col-xs-4"><span class="ic-fo icon-phone"></span><span> +353 (0) 123 456 78</span></div>
                         <div class="col-xs-4"><span class="ic-fo icon-envelope"></span><span> hello@angutheme.com</span></div>
                         <div class="col-xs-4"><span class="ic-fo icon-map-pin"></span><span>+353 (0) 123 456 78</span></div>
                       </div>
                    </div>
            </div>
        </div>
    
</footer>

<script src="../js/jquery.min.js" type="text/javascript"></script>
<script src="../js/bootstrap.min.js" type="text/javascript"></script>
<!--Carousel-->
<script src="../js/owl_carousel/owl.carousel.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $("#owl-demo").owlCarousel({

            navigation: false, // Show next and prev buttons
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true,
            autoPlay: true
            // "singleItem:true" is a shortcut for:
            // items : 1, 
            // itemsDesktop : false,
            // itemsDesktopSmall : false,
            // itemsTablet: false,
            // itemsMobile : false

        });

    });
</script>
</body>
</html>
